main {
  display: flex !important;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  flex-direction: column;
  padding: 24px;
  background-image: url('./assets/Pokemon-forest-by-BlazingIfrit-Fur-Affinity-dot-net.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
}

img {
  image-rendering: pixelated;
  /* width: 200px; */
  height: 300px;
  filter: brightness(0.0);
}

.containerImg{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.text{
  font-size: x-large;
  font-weight: bold;
}

.containerInput{
  display: flex;
  align-items: center;
  justify-content: center;
}

.containerReset{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}